* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --blue: #2B4BFF;
  --dark-blue: #171C27;
  --white: #FFFFFF;
  --off-white: #EEEEEE;
  --light-grey: #C0C0C0;
  --dark-grey: #4C4C4C;
}

/* UNIVERSAL STYLES */

h2, h3, h4, h5, h6 {
  color: var(--dark-blue);
}

h1 {
  font-size: 40px;
  line-height: 1.1;
  color: var(--white);
}

h2 {
  font-size: 38px;
  line-height: 1.1;
}

h3 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}

h5 {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 600;
}

button {
  cursor: pointer;
  outline: none;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07);
  transition: 0.2s cubic-bezier(0.37, 0, 0.63, 1);
}

button:hover {
  box-shadow:
  0 2.8px 3.8px -4px rgba(0, 0, 0, 0.05),
  0 6.7px 9px -4px rgba(0, 0, 0, 0.079),
  0 12.5px 17px -4px rgba(0, 0, 0, 0.097),
  0 22.3px 30.4px -4px rgba(0, 0, 0, 0.108),
  0 41.8px 56.8px -4px rgba(0, 0, 0, 0.115),
  0 100px 136px -4px rgba(0, 0, 0, 0.12);
}

.white {
  color: var(--white);
}

.light-grey {
  color: var(--light-grey);
}

.dark-grey{
  color: var(--dark-grey)
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

hr {
  width: 50px;
  height: 5px;
  border: 0;
  background-color: var(--blue);
  margin: 30px auto 0;
}

.wrapper {
  padding: 50px 10px;
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
}

.margin-top-20 {
  margin-top: 20px;
}



/* MOBILE FIRST */

/* HEADER */

.header-wrapper {
  padding: 20px 10px;
  max-width: 1300px;
  margin: 0 auto;
}

.logo {
  color: var(--dark-blue);
  font-size: 20px;
}

span {
  color: #2B4BFF;
  margin: 0;
  padding: 0;
}

/* HERO SECTION */

.hero {
  background-color: var(--dark-blue);
}

.h3-hero-section {
  padding-top: 30px;
}

.hero-flexbox-large {
  display: flex;
  flex-direction: column;
}

.blue-wide-button {
  background-color: var(--blue);
  color: var(--white);
  padding: 20px 95px;
  margin: 30px 0;
}

.white-wide-button {
  background-color: var(--white);
  color: var(--blue);
  padding: 20px 85px;
}

.blue-wide-button, .white-wide-button, .blue-medium-button, .white-medium-button {
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  border: 0;
}

.blue-wide-button a {
  color: var(--white)
}

.white-wide-button a {
  color: var(--dark-blue);
}

.demo-tour-hero {
  display: block;
  margin-top: 30px;
}

/* BENEFITS */

.fa-vr-cardboard, .fa-laptop, .fa-photo-video, .fa-chart-bar, .fa-street-view, .fa-sign {
  color: var(--white);
  background-color: var(--blue);
  border-radius: 50px;
  font-size: 30px;
  margin: 50px auto 30px;
}

.fa-vr-cardboard, .fa-laptop, .fa-photo-video {
  padding: 30px 27px;
}

.fa-chart-bar, .fa-street-view, .fa-sign {
  padding: 30px;
}

.h4-benefits-section {
  padding-bottom: 30px;
}

.benefits-flexbox {
  display: flex;
  flex-direction: column;
}

.benefits-icon-container {
  display: flex;
  flex-direction: column;
}

.benefits-right-text-flexbox, .benefits-left-text-flexbox {
  padding: 0 40px;
}

/* DEMO TOUR */

.demo-tour {
  background-color: var(--dark-blue);
}

.h5-demo-section {
  padding: 30px 0;
}

iframe {
  max-width: 600px;
}

/* WHAT WE DO */

.what-we-do-flexbox {
  display: flex;
  flex-direction: column;
}

.h2-what-we-do {
  margin-top: 50px;
}

.h5-what-we-do {
  margin-top: 30px;
}

.blue-medium-button {
  background-color: var(--blue);
  color: var(--white);
}

.blue-medium-button, .white-medium-button {
  padding: 20px 50px;
  margin: 50px 0 0;
}

/* CUSTOM 360 WALKTHROUGH | 3D SCAN TOUR CARD STYLES */

.custom-walkthrough {
  background-color: var(--dark-blue);
}

.custom-wrapper {
  max-width: 1100px;
}

.pricing-cards-flexbox-wrapper {
  display: flex;
  flex-direction: column;
}

.pricing-description-box-white {
  background-color: var(--white);
}

.pricing-description-box-blue{
  background-color: var(--dark-blue);
}

.pricing-description-box-white, .pricing-description-box-blue {
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
}

.h5-pricing-description-bottom-padding {
  padding-bottom: 20px;
}

.white-medium-button {
  background-color: var(--white);
  color: var(--blue);
}

.white-price-card {
  background-color: var(--white);
  }

.blue-price-card {
  background-color: var(--blue);
}

.white-price-card, .blue-price-card {
  border-radius: 10px;
  padding: 50px;
  margin: 50px auto 0;
  box-shadow:
  0 0px 3.3px rgba(0, 0, 0, 0.004),
  0 0px 9px rgba(0, 0, 0, 0.008),
  0 0px 21.7px rgba(0, 0, 0, 0.018),
  0 0px 72px rgba(0, 0, 0, 0.07);
}

.price-card-flexbox {
  display: flex;
  flex-direction: row;
}

.fa-check {
  padding-right: 30px;
  font-size: 16px;
}

.price-card-min-height-flexbox {
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-card-pricing {
  font-size: 24px;
  font-weight: 500;
}

.white-card-hr, .blue-card-hr {
  margin: 30px auto;
}

.white-card-hr {
  background-color: var(--dark-grey)
}

.blue-card-hr {
  background-color: var(--white);
}

/* CONTACT US */

.contact-us {
  background-color: var(--off-white);
}

.review-bottom-photo {
  display: none;
}

.contact-us-flexbox {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0;
}

/* MEDIA QUERIES */

@media (min-width: 600px) {
  .wrapper {
    padding: 50px 20px;
  }

  .blue-wide-button, .white-wide-button {
    margin-left: 10px;
    margin-right: 10px;
  }

  .white-price-card, .blue-price-card {
    padding: 50px 100px;
  }

  .what-we-do-picture {
    width: 70%;
    margin: 0 auto;
  }

}

@media (min-width: 768px) {
  h1 {
    font-size: 50px;
  }

  .logo {
    font-size: 30px;
  }

  .header-wrapper {
    padding: 20px;
  }

  .benefits-flexbox {
    flex-direction: row;
    margin: 100px auto 0;
    justify-content: space-evenly;
  }

  .benefits-icon-container {
    flex-direction: row;
    align-items: center;
    max-width: 50%;
  }

  .benefits-right-text-flexbox {
    padding: 0 0 0 20px;
    align-items: flex-start;
  }

  .benefits-left-text-flexbox {
    padding: 0 20px 0 20px;
    align-items: flex-start;
  }

  .h4-benefits-section, .p-benefits-section {
    text-align: left;
  }

  .fa-vr-cardboard, .fa-laptop, .fa-photo-video, .fa-chart-bar, .fa-street-view, .fa-sign {
    margin: auto;
  }

  .what-we-do-flexbox-text {
    padding: 0 30px;
  }

  .what-we-do-picture {
    width: 50%;
  }

  .pricing-description-box-white, .pricing-description-box-blue {
    padding: 40px;
  }

}

@media (min-width: 1024px) {
  .header-wrapper {
    padding: 20px 50px;
  }

  .wrapper {
    padding: 100px 50px;
  }

  h1 {
    text-align: left;
  }

  .h3-hero-section {
    text-align: left;
    font-size: 20px;
    padding: 0;
  }

  .hero-flexbox-large {
    flex-direction: row;
  }

  .hero-flexbox-large-left {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding-right: 50px;
    justify-content: space-between;
  }

  .demo-tour-hero {
    width: 100%;
    margin: 0;
  }

  .blue-wide-button {
    padding: 20px 50px;
    margin: 0;
  }

  .white-wide-button {
    padding: 20px 40px;
    margin-left: 20px;
  }

  .hero-button-container {
    margin-top: 30px;
    text-align: left;
  }

  h2 {
    font-size: 50px;
  }

  .benefits-flexbox {
    max-width: 1100px;
    margin: 100px auto 0;
  }

  .benefits-left-text-flexbox {
    padding: 0 40px;
  }

  .benefits-right-text-flexbox {
    margin: 0 0 0 50px;
  }

  .what-we-do-flexbox {
    flex-direction: row-reverse;
    max-width: 1000px;
    margin: 0 auto;
  }

  .what-we-do-flexbox-text {
    text-align: left;
    padding: 0 50px 0 0;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .h2-what-we-do {
    margin: 0;
  }

  .h5-what-we-do {
    font-size: 18px;
  }

  .what-we-do-picture {
    width: 55%;
  }

  .what-we-do-button {
    margin-right: 175px;
  }

  .pricing-cards-flexbox-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }


  .white-price-card {
    margin: 50px 0 0;
    padding: 50px;
  }

  .blue-price-card {
    margin: 50px 5px 0;
    padding: 50px 44px;
  }

  .contact-us-flexbox {
    flex-direction: row;
    align-items: center;
  }

  .review-bottom-photo {
    display: block;
    padding-left: 30px
  }

  @media (min-width: 1060px) {
    .blue-price-card {
      padding: 50px;
    }
  }

}
