* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--dark-blue);
}

:root {
  /* MAIN COLORS */
  --blue: #2B4BFF;
  --dark-blue: #171C27;
  --white: #FFFFFF;
  --off-white: #EEEEEE;
  --light-grey: #C0C0C0;
  --dark-grey: #4C4C4C;
}

/* UNIVERSAL STYLES */

h1, h2, h3, h4, h5, h6 {
  color: var(--dark-blue);
}

h1 {
  font-size: 40px;
  line-height: 1.1;
}

h2 {
  font-size: 38px;
  line-height: 1.1;
}

h3 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}

h5 {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 600;
}

button {
  cursor: pointer;
  outline: none;
}

.white {
  color: var(--white);
}

.light-grey {
  color: var(--light-grey);
}

.dark-grey{
  color: var(--dark-grey)
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

hr {
  width: 50px;
  height: 5px;
  border: 0;
  background-color: var(--blue);
  margin: 30px auto 0;
}

.wrapper {
  padding: 50px 10px;
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
}

.margin-top-20 {
  margin-top: 20px;
}



/* MOBILE FIRST */

/* HEADER */

.header-wrapper {
  padding: 20px 10px;
  max-width: 1300px;
  margin: 0 auto;
}

.logo {
  color: var(--dark-blue);
  font-size: 20px;
}

span {
  color: #2B4BFF;
  margin: 0;
  padding: 0;
}

/* HERO SECTION */

.hero {
  background-color: var(--dark-blue);
}

.h3-hero-section {
  padding-top: 30px;
}

.blue-wide-button {
  background-color: var(--blue);
  color: var(--white);
  padding: 20px 100px;
  margin: 30px 0;
}

.white-wide-button {
  background-color: var(--white);
  color: var(--blue);
  padding: 20px 90px;
}

.blue-wide-button, .white-wide-button, .blue-medium-button, .white-medium-button {
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  border: 0;
}

.blue-wide-button a {
  color: var(--white)
}

.white-wide-button a {
  color: var(--dark-blue);
}

/* BENEFITS */

.fa-vr-cardboard, .fa-laptop, .fa-photo-video, .fa-chart-bar, .fa-street-view, .fa-sign {
  color: var(--white);
  background-color: var(--blue);
  border-radius: 50px;
  font-size: 30px;
  margin: 50px auto 30px;
}

.fa-vr-cardboard, .fa-laptop, .fa-photo-video {
  padding: 30px 27px;
}

.fa-chart-bar, .fa-street-view, .fa-sign {
  padding: 30px;
}

.h4-benefits-section {
  padding-bottom: 30px;
}

/* DEMO TOUR */

.demo-tour {
  background-color: var(--dark-blue);
}

.h5-demo-section {
  padding: 30px 0;
}

iframe {
  max-width: 600px;
}

/* WHAT WE DO */

.h2-what-we-do {
  margin-top: 50px;
}

.h5-what-we-do {
  margin-top: 30px;
}

.blue-medium-button {
  background-color: var(--blue);
  color: var(--white);
}

.blue-medium-button, .white-medium-button {
  padding: 20px 50px;
  margin: 50px 0 0;
}

/* CUSTOM 360 WALKTHROUGH | 3D SCAN TOUR CARD STYLES */

.custom-walkthrough {
  background-color: var(--dark-blue);
}

.custom-wrapper {
  max-width: 1100px;
}

.pricing-description-box-white {
  background-color: var(--white);
}

.pricing-description-box-blue{
  background-color: var(--dark-blue);
}

.pricing-description-box-white, .pricing-description-box-blue {
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
}

.h5-pricing-description-bottom-padding {
  padding-bottom: 20px;
}

.white-medium-button {
  background-color: var(--white);
  color: var(--blue);
}

.white-price-card {
  background-color: var(--white);
  }

.blue-price-card {
  background-color: var(--blue);
}

.white-price-card, .blue-price-card {
  border-radius: 10px;
  padding: 50px;
  margin: 50px auto 0;
  max-width: 230px;
  box-shadow:
  0 0px 3.3px rgba(0, 0, 0, 0.004),
  0 0px 9px rgba(0, 0, 0, 0.008),
  0 0px 21.7px rgba(0, 0, 0, 0.018),
  0 0px 72px rgba(0, 0, 0, 0.07);
}

.price-card-flexbox {
  display: flex;
  flex-direction: row;
}

.fa-check {
  padding-right: 30px;
  font-size: 16px;
}

.price-card-min-height-flexbox {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-card-pricing {
  font-size: 24px;
  font-weight: 500;
}

.white-card-hr, .blue-card-hr {
  margin: 30px auto;
}

.white-card-hr {
  background-color: var(--dark-grey)
}

.blue-card-hr {
  background-color: var(--white);
}

/* CONTACT US */

.contact-us {
  background-color: var(--off-white);
}

.review-bottom-photo {
  display: none;
}
