* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--dark-blue);
}

:root {
  /* MAIN COLORS */
  --blue: #2B4BFF;
  --dark-blue: #171C27;
  --white: #FFFFFF;
  --light-grey: #C0C0C0;
  --dark-grey: #4C4C4C;
}

/* UNIVERSAL STYLES */

h1 {
  font-size: 40px;
  line-height: 1.1;
}

h2 {
  font-size: 38px;
  line-height: 1.1;
}

h3 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5em;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

.h1-white, .h2-white, .h5-white {
  color: var(--white);
}

.h3-light-grey {
  color: var(--light-grey);
}

.p-dark-grey{
  color: var(--dark-grey)
}



a {
  text-decoration: none;
}

hr {
  width: 50px;
  height: 5px;
  background-color: var(--blue);
  margin: 30px auto 0;
}

.wrapper {
  padding: 50px 10px;
  text-align: center;
}

/* MOBILE FIRST */

/* HEADER */

.header {
  padding: 20px 10px;
}

.logo {
  color: var(--dark-blue);
  font-size: 20px;
}

span {
  color: #2B4BFF;
  margin: 0;
  padding: 0;
}

/* HERO SECTION */

.hero {
  background-color: var(--dark-blue);
}

.h3-hero-section {
  padding-top: 30px;
}

.blue-wide-button {
  background-color: var(--blue);
  color: var(--white);
  padding: 20px 100px;
  margin: 30px 0;
}

.white-wide-button {
  background-color: var(--white);
  color: var(--blue);
  padding: 20px 90px;
}

.blue-wide-button, .white-wide-button {
  border-radius: 50px;
  font: 16px;
  font-weight: 600;
  border: 0;
}

.blue-wide-button a {
  color: var(--white)
}

.white-wide-button a {
  color: var(--dark-blue);
}

/* BENEFITS */

i {
  color: var(--white);
  background-color: var(--blue);
  border-radius: 50px;
  font-size: 30px;
  margin: 50px auto 30px;
}

.fa-vr-cardboard, .fa-laptop, .fa-photo-video {
  padding: 30px 27px;
}

.fa-chart-bar, .fa-street-view, .fa-sign {
  padding: 30px;
}

.h4-benefits-section {
  padding-bottom: 30px;
}

/* DEMO TOUR */

.demo-tour {
  background-color: var(--dark-blue);
}

.h5-demo-section {
  padding: 30px 0;
}
